<div class="row mt-5">
  <div class="col-md-10 offset-md-1 col-12 d-flex flex-wrap justify-content-center gap-5 align-items-center minHeight">
    <a
      [routerLink]="'/dashboard/authentications/type/jwt'"
      class="card text-white
      text-decoration-none
      d-flex justify-content-center align-items-center bg-primary rounded-circle"
    >
      <div class="mb-5">
        <i class="fas fa-shield-halved fa-2xl text-center"></i>
      </div>
      <div>
        <p>Json Web Token</p>
      </div>
    </a>
    <a
      [routerLink]="'/dashboard/authentications/type/xml'"
      class="card text-white
        text-decoration-none
        d-flex justify-content-center align-items-center bg-secondary rounded-circle">
      <div>
        <i class="fas fa-file-code fa-2xl text-center mb-5"></i>
      </div>
      <div>
        <p>XML</p>
      </div>
    </a>
    <a
      [routerLink]="'/dashboard/authentications/type/va'"
      class="card text-white
        text-decoration-none
        d-flex justify-content-center align-items-center bg-success rounded-circle">
      <div>
        <i class="fa-solid fa-user-tie fa-2xl text-center mb-5"></i>
      </div>
      <div>
        <p>VA</p>
      </div>
    </a>
    <a
      [routerLink]="'/dashboard/authentications/type/pak'"
      class="card text-white
        text-decoration-none
        d-flex justify-content-center align-items-center bg-danger rounded-circle">
      <div>
        <i class="fas fa-key fa-2xl text-center mb-5"></i>
      </div>
      <div>
        <p>PAK</p>
      </div>
    </a>
    <a
      [routerLink]="'/dashboard/authentications/type/oauth'"
      class="card text-white
        text-decoration-none
        d-flex justify-content-center align-items-center bg-danger rounded-circle">
      <div>
        <i class="fab fa-google-plus fa-2xl text-center mb-5"></i>
      </div>
      <div>
        <p>OAuth 2.0</p>
      </div>
    </a>
    <a
      [routerLink]="'/dashboard/authentications/type/2fa'"
      class="card text-white
        text-decoration-none
        d-flex justify-content-center align-items-center bg-danger rounded-circle">
      <div>
        <i class="fab fa-google-plus fa-2xl text-center mb-5"></i>
      </div>
      <div>
        <p>2FA</p>
      </div>
    </a>
  </div>
</div>
