<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark h-100 min-vh-100" style="width: 280px;">
  <a [routerLink]="'dashboard'" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4 text-center" style="width: 250px;">
      @if (routerService.dashboard) {
          Dashboard
      } @else if (routerService.auth) {
        Session Manager
      } @else if (routerService.messagerie) {
        Messageries Manager
      } @else if (routerService.clients) {
        Clients Manager
      } @else if (routerService.streaming) {
        Streaming Manager
      } @else if (routerService.plugins) {
        Plugins Manager
      }
    </span>

  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a [routerLink]="'dashboard'" [class]="routerService.dashboard ? 'nav-link active' : 'nav-link text-white'" aria-current="page">
        <i class="fas fa-chart-line"></i> Dashboard
      </a>
    </li>
    <li>
      <a [routerLink]="'dashboard/authentications/list'" [class]="routerService.auth ? 'nav-link active' : 'nav-link text-white'">
        <i class="fas fa-lock"></i> Session
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="'dashboard/streaming'" [class]="routerService.streaming ? 'nav-link active' : 'nav-link text-white'" aria-current="page">
        <i class="fas fa-life-ring"></i> Streaming
      </a>
    </li>
    <li>
      <a [routerLink]="'dashboard/messagerie'" [class]="routerService.messagerie ? 'nav-link active' : 'nav-link text-white'">
        <i class="fas fa-comments"></i> Messageries
      </a>
    </li>
    <li>
      <a [routerLink]="'dashboard/clients'" [class]="routerService.clients ? 'nav-link active' : 'nav-link text-white'">
        <i class="fas fa-users"></i> Clients
      </a>
    </li>
    <li>
      <a [routerLink]="'dashboard/plugins'" [class]="routerService.plugins ? 'nav-link active' : 'nav-link text-white'">
        <i class="fas fa-puzzle-piece"></i> Plugins
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      @if (authService.avatar === undefined) {
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      } @else {
        <img src="{{authService.avatar}}" alt="" width="32" height="32" class="rounded-circle me-2">
      }
      <strong>{{getEmail()}}</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" (click)="authService.logout()">Sign out</a></li>
    </ul>
  </div>
</div>
